{erl_opts, [debug_info]}.

{deps, [
  {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.2.0"}}}
]}.

{shell, [
  {sys_config_src, "config/sys.config.src"},
  {apps, [detectdouble]}
]}.

{relx, [
  {sys_config_src, "config/sys.config.src"},
  {
    release,
    {detectdouble, "0.1.0"},
    [detectdouble]
  },
  {dev_mode, true},
  {extended_start_script, true}
]}.
